body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}

.m-t-2 {
    margin-top: 1em;
}

.rounded {
    max-width: inherit;
}
